/* *{
    box-sizing: border-box;
    }
    body{
       font-size: 16px;
       background-color: white;
       position: relative; 
       padding-bottom: 45px;
       font-family: ; 
       font-style: normal;
    } */
    /* body::after{
        content: "";
        display: block;
     background-color: #f9f9f9;
        background-color: red;
        position: absolute;
        width: 118px;
        top: 0px;
        bottom: 0px;
        left: 13%;
        z-index: -1;
    } */
    /* .conteiner{
    width: 82%;
    background-color:gray;
    margin: 0px auto;
    } */
    /* header{
        padding: 55px 0px;
    } */
    header .conteiner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* .main-logo: :hover{
        opacity: 0.8;
    } */
    /* nav a{
        display: inline-block;
        color: black;
        position: relative;
        text-decoration: none;
        margin-right: 35px;
        font-size: 19px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 1px;
    }  */
    nav a :last-child{
        margin-right: 0px;
    } 
     /* nav a ::after{
        content: "";
        display: none;
        background-color: #f9f9f9;
        background-color: #F2994A;;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        bottom: -16px;
        margin: 0 50%;
    } */
    /* nav a.upper-part::after,
    nav a:hover::after{
        display: block;
    }  */
    /* .search-part input{
font-size: 19px;
font-weight: 400px;
line-height: 120%;
letter-spacing: 1px;
color: black;
border: none;
padding: 0px 16px;
    } */
/* .search-part button{
     background-color: none;
    border: none;
} */
/* .search-part input :focus-visible{
outline: none;
}  */
.upper-item{
    display: inline-block;
        color: black;
        position: relative;
        left: 273px;
        text-decoration: none;
        margin-left: 35px;
        font-size: 19px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 1px;
}
/* .content{
    padding: 110px 0px 50px;
} */
/* .conteiner2{
    display: flex;
    justify-content: space-between;
} */
/* .img-block{
    /* width: 35%; */
    width: 411px;
    height: 533px;
} */
.img-block img{
    width: 100%;
/* }
.text-conteiner{
width: 50px;
} */
/* .text-block{
    padding-right: 180px;
    border-right: 1px solid #333;
    margin-bottom: 32px;

} */
.text-block h2{
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
    color: #F2994A;
    margin-bottom: 10px;
    align-items: center;
}
/* .text-block h2 ::after{
    content: "+";
    position: absolute;
    right: 0px;
    color: #3F9AB7;
} */
/* .text-block h1{
    font-size: 65px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 70px;
    position: relative;
    top: 0px;
    left: 0px;
} */
.text-block p{
    padding: 24px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 1px;
    position: relative;
}
.text-block p::before{
    content: "";
    display: block;
    border-radius: 4px;
    background: #F2994A;
    width: 188px;
    height: 8px;
    position: absolute;
    top: 0;
}
.social{
    display: flex;
    justify-content: space-between;
}
.video{
   display: flex;
   align-items: center; 
}
/* .video button{
    width: 90px;
    height: 90px;
    display: flex;
    justify-self: center;
    align-items: center;
    border: none;
    background-color: #3f9ab7;
    border-radius: 100%;
    margin-right: 20px;
} */
.video :hover{
    background-color: #F2994A;
}
.video span{
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
}
.social-link a{
display: flex;
justify-content: center;
align-items: center;
width: 34px;
height: 34px;
text-decoration: none;
background-color: transparent;
border-radius: 100%;
position: relative;
text-align: center;
right: -10px;
margin-bottom: 8px;
}
.social-link-img-hover{
    display: none;

}
.social-link a:hover{
background-color: #F2994A;
}
.social-link a:hover .social-link-img-hover{
    display: block;
}
.social-link a:hover .social-link-img{
    display: none;
}