*{
    box-sizing: border-box;
}
body{
    background-color: #F6F5F5;
}
.conteiner{
    width: 360px;
    height: 800px;
    margin: 100px auto;
    border-radius: 20px;
    background-color: #FFF; 
    padding: 56px 20px 91px 20px;
}
button{
    border: none;
    background-color: #FFF;
    width: 30px;
    height: 30px;
}
.menu-items{
    padding: 0 4px;
    
}
.position-img{
    width: 74px;
    height: 74px;
    border-radius: 12px;
    background-color: #EFEFEF;
    margin: 20px 10px;
}
.menu-items{
    color: #C4C4C4;
}
.position-title{
    color: #C4C4C4;
    text-align: center
}
.menu-position{
    border: ;
    display: inline-block; 
}
.menu-position:hover .position-img{
    background-color: #EAE2B7;
}
.menu-position:hover .position-title{
    color: black;
}
.burger-menu{
    width: 316px;
    height: 88px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
    margin: 10px auto;
}
.burger-img{
    width: 60px;
    height: 68.514px;

}
.title{
    color: #003049;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.first-title{
    color: #000;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.input{
    width: 316px;
    height: 44px;
    border-radius: 12px;
    background-color: #EFEFEF;
}
.name-position{
    color: #003049;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;  
    text-align: center;
    /* margin: 0px 100px; */
}