*{
    box-sizing: border-box;
    }
    body{
        margin: 0;
        background: #C4C4C4;
    }
    .conteiner{
        width: 1920px;
        height: 960px;
        margin: 100px auto;
        background-color: #FFF; 
        padding: 58px 90px 90px 90px;
    }
    .float-title{
        width: 995px;
        padding: 14px;
        margin: -1px;
        border: 2px solid red;
    }
    .float-content{
        width: 695px;
        height: 80px;
        padding: 4px;
        margin: 10px;
        border: 2px solid black;
    }
    /* .card-items{
        width: 295px;
        height: 470px;
        padding: 0 4px;
        color: blue;
        display: inline-block;
    } */
    /* .card-position{
        border: ;
        display: inline-block; 
    } */
    /* .card-img{
        width: 74px;
        height: 74px;
        border-radius: 12px;
        background-color: #EFEFEF;
        margin: 20px 10px;
    } */
    .conteiner-card{
        width: 295px;
        height: 470px;
        margin: 50px auto;
        background-color: lightsalmon; 
        padding: 56px 20px 91px 20px;
        display: inline-block;
    }
    .conteiner-card-2{
        width: 295px;
        height: 470px;
        margin: 50px 20px;
        background-color: lightblue; 
        padding: 56px 20px 91px 20px;
        display: inline-block;
    }
    .conteiner-card-3{
        width: 295px;
        height: 470px;
        margin: 50px auto;
        background-color: lightcoral; 
        padding: 56px 20px 91px 20px;
        display: inline-block;
    }
    .conteiner-card-4{
        width: 295px;
        height: 470px;
        margin: 50px 20px;
        background-color: greenyellow; 
        padding: 56px 20px 91px 20px;
        display: inline-block;
    }
    .float-cont-card{
        width: 1500px;
        padding: 14px;
        margin: -1px;
        border: 2px solid blue;
        display: block;
    }
    .card-img{
        width: 100px;
        margin: 10px;
        padding: 0px;
    }