*{
    box-sizing: border-box;
}
body{
    margin: 0px auto;
}
.conteiner-upper{
    width: 100%;
    height: 60px;
    /* background-color: aqua; */
}
.conteiner-segment{
    width: 100%;
    height: 60px;
    /* background-color: bisque; */
}
.segment{
display: inline-block;
position: relative;
top: 17px;
left: 20px;
}
.menu-mobile{
    display: none;
}
.logo{
    position: relative;
    top: -24px;
    left: 700px;
}
.search{
position: relative;
top: -72px;
left: 1350px;    
}
.bag{
    position: relative;
    top: -101px;
    left: 1418px;
}
/* .br */
.conteiner-title{
    width: 100%;
    height: 600px;
    /* background-color: blue; */
    /* margin-top: 10px; */
}
.conteiner-title-two{
    width: 100%;
    height: 600px;
    /* background-color: bisque; */
    /* margin-left: 26px; */
}
.main-title{
    width:  262px;
    height: 300px;
    /* border-style: dashed;
    border-color: black; */
    position: relative;
    top: 159px;
    left: 20px;
}
.text{
    position: relative;
    top: -71px;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
line-height: 28px;
}

.main-text{
    position: relative;
    top: -47px;
font-family: "Montserrat", sans-serif;
font-weight: 800;
font-style: normal;
font-size: 60px;
letter-spacing: -3px;
line-height: 60px;
}
.shop-button{
    position: relative;
    top: -67px;
    left: -6px;
}
.main-photo-1{
    position: relative;
    top: -242px;
    left: 371px;
}
.main-photo-2{
    position: relative;
    top: -754px;
    left: 976px;
}
/* .br */
.conteiner-ph{
    width: 100%;
    height: 454px;
    /* background-color:aqua; */
    position: relative;
    top: -40px;
}
.conteiner-ph-2{
    width: 1427px;
    height: 454px;
    display: inline;
}
.img-women{
    display: inline;
    position: relative;
    top: -80px;
    left: 20px;
}
.title-w{
color: #FFF;
font-family: "Montserrat", sans-serif;
font-weight: 800;
font-style: normal;
font-size: 40px;
line-height: 40px;
    position: relative;
    top: 104px;
    left: 18px;
}
.img-men{
    /* color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    line-height: 40px; */
    display: inline;
    position: relative;
    top: -683px;
    left: 757px;
}
.title-m{
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    position: relative;
    top: 103px;
    left: 24px;
}

.cont3-mobile-first{
     display: none; 
}
.cont3-mobile-two{
    display: none;
}
/* .br */
.conteiner-item{
    width: 100%;
    height: 390px;
    /* background-color: blue; */
    margin-top: -31px;
}
.conteiner-scroll{
    width: 100%;
    height: 390px;
    overflow-x:scroll ;
    /* background-color: bisque; */
    /* margin-left: 26px; */
}
.new_releases{
font-family: "Montserrat", sans-serif;
font-weight: 800;
font-style: normal;
font-size: 30px;
line-height: 40px;
position: relative;
left: 20px;
}
.items-mobile{
    display: none;
}
.items-mobile-2{
    display: none;
}
.items{
    padding: 0 4px;
    color:white;
    display: inline-block;
    top: -15px;
    position: relative;
    left: 20px;
    margin-right: 29px;
}
.items-position{
    border: ;
    display: inline-block; 
}
.position-img{
    width: 300px;
    height: 252px;
    /* background-color: red; */
    margin: -6px -4px;
}
.product-name{
    color: black;
    text-align: start;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
line-height: 28px;
}
.img-menu{
    width: 300px;
    height: 252px;
}
.product-price{
    color: black;
    text-align: start;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
line-height: 28px;
position: relative;
top: -20px;
}
/* .br */
.conteiner-item-2{
    width: 100%;
    height: 401px;
    /* background-color: blue; */
    position: relative;
    top: 17px;
}
.conteiner-scroll-2{
    width: 100%;
    height: 381px;
    /* background-color: bisque; */
    position: relative;
    top: 17px;
}
.top_kicks{
font-family: "Montserrat", sans-serif;
font-weight: 800;
font-style: normal;
line-height: 40px;
font-size: 30px;
}
/* .br */
.conteiner-info{
    width: 100%;
    height: 454px;
    /* background-color: blue; */
    position: relative;
    top: 68px;
}
.conteiner-info-two{
    width: 100%;
    height: 454px;
    /* background-color: bisque; */
    /* margin-left: 26px; */
}
.down-title{
    width:  300px;
    height: 250px;
    text-align: center;
    /* border-style: dashed;
    border-color: black; */
    position: relative;
    top: 99px;
    left: 559px;
}
.main-content-dowm{
text-align: center;
font-family: "Montserrat", sans-serif;
font-weight: 800;
font-style: normal;
line-height: 40px;
font-size: 40px;
/* border: blue;  */
/* border-style: solid;  */
width: 238px;
height: 94px;
position: relative;
left: 29px;
}
.down-inform{
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
position: relative;
top: -28px;
}
/* .br */
.conteiner-down{
    width: 100%;
    height: 310px;
    background-color:black;
    position: relative;
    top: 106px;
}
.conteiner-down-2{
    width: 100%;
    height: 310px;
    /* background-color: bisque; */
}
.column{
    width:  162px;
    height: 127px;
     /* border-style: dashed;
    border-color: black;  */
    display: inline-block; 
    margin-right: 60px;
    position: relative;
    top: 31px;
    margin-left: 20px;
}
.column-name{
    color: #C4C4C4;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
position: relative;
top: 5px;
}
.conteiner-column-info{
    width: 93px;
    height: 60px;
    color: #FFF;
    /* background-color:rebeccapurple; */
    position: relative;
    top: -11px;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 25px;
}
.social-column{
    width:  166px;
    height: 80px;
    /* border-style: dashed; 
    border-color: black; */
    position: relative;
    top: -84px;
    left: 1201px;
}
.social-button{
    width: 164px;
    height: 30px;
    /* background-color: blue; */
    position: relative;
    top: -23px;
    display: inline-block;
}
.conteiner-content{
    position: relative;
    top: 20px;
    text-align: center;
    color: #C4C4C4;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
}
.social-img{
    margin-right: 13px;
}
/* .br */
.main-ph-mobile_L{
    display: none;
}
.main-ph-mobile_R{
    display: none;
}
/* .br
.br */
@media (max-width:430px) { 
    .conteiner-upper{
        margin-top: 20px;
        background-color: lightcoral;
        width: 100%;
    }
    .segment{
        display: none;
    }
    .menu-mobile{
        display: block;
        position: relative;
        top: 14px;
        left: 27px;
    }
    .logo{
        top: -29px;
        left: 113px;
    }
    .search{
        top: -78px;
        left: 309px;   
        }
    .bag{
    top: -107px;
    left: 367px;
    }
}
@media (max-width:430px){
    .conteiner-title{
        height: 743px;
        /* background-color: blue; */
}
.conteiner-title-two{
      height: 743px ;
    background-color:aquamarine; 
}
.main-title{
    width: 252px;
    height: 300px;
    border-color: red;
    top: 440px;
    left: 81px;
    text-align: center;
}
.main-photo-1{
    display: none;
}
.main-photo-2{
    display: none;
}
.main-ph-mobile_L{
position: relative;
top: -275px;
}
.main-ph-mobile_R{
    position: relative;
    top: -460px;
    left: 223px; 
}
.conteiner-ph{
    width: 342px;
    height: 600px;
    background-color:aqua;
    position: relative;
    top: -40px;
    left: 43px;
}
.img-women{
   display: none;
}
.cont3-mobile-first{
    display: inline;
    position: relative;
    top: -52px;
}
.title-w{
position: relative;
top: 104px;
left: 18px;
}
.cont3-mobile-two{
    display: inline;
    position: relative;
    top: -185px;
}
.img-men{
   display: none;
}
.title-m{
    position: relative;
    top: 108px;
    left: 17px;
}
}
/* .br */
/* .br */
@media (max-width:430px){
    .conteiner-item{
     height: 390px;
    background-color: lightblue;
    margin-top: 150px;
    }
    /* .conteiner-scroll{
        display: none;
    } */
    .new_releases{
    position: relative;
    left: 27px;
    }
    .items-mobile{
        display: inline-block;
        top: -19px;
        position: relative;
        left: 30px;
        margin-right: 29px;
    }
    .items-mobile-2{
        display: inline-block;
        top: -30px;
        position: relative;
        left: 28px;
        margin-right: 29px;
    }
    .product-name{
        position: relative;
        top: -12px;
    }
    .product-price{
        position: relative;
        top: -29px;
    }
    .items{
        display: none;
    }
    .items-position{
        display: none;
    }
    .position-img{
        display: none;
    }
    
    .img-menu{
        display: none;
    }
    
    /* .br */
    .conteiner-item-2{
     height: 390px;
    background-color: lightblue;
    margin-top: 10px;
    }
    /* .conteiner-scroll-2{
        display: none;
    } */
    .top_kicks{
    position: relative;
    left: 27px;
    top: -18px;
    }
    /* .br */
    .conteiner-info{
        height: 300px;
        background-color: lightcoral;
        position: relative;
        top: 35px;
    }
    .conteiner-info-two{
        height: 300px;
        position: relative;
    }
    .down-title{
        position: relative;
        left: 66px;
        top: 38px;
    }
    .main-content-dowm{
        position: relative;
        top: 0px;
    }
    .down-inform{
        position: relative;
        left: 0px;
        top: -27px;
    }
    .down-button{
        position: relative;
        top: 10px;
    }
    /* .br */
    .conteiner-down{
        height: 500px;
        position: relative;
        top: 95px;
        background-color: black;
    }
    .conteiner-down-2{
        position: relative;
     
    }
    .column{
        margin-right: 0px;
        margin-left: 31px;
        
    }
    .column-name{
        position: relative;
        top: -15px;
    }
    .conteiner-column-info{
        position: relative;
        top: -27px;
    }
    .social-column{
       position: relative;
       top: 54px;
       left: 31px;
    }
    .social-button{
        position: relative;
        top: -35px;
    }
    .conteiner-content{
       position: relative;
       top: 65px;
       left: 0px;
    
    }
    .social-img{
        margin-right: 13px;
    }
}