* {
    box-sizing: border-box;
}
.bg-image {
    width: 1736px;
    height: 1117px;
    background-image: url(../15/img-Netflix/Rectangle\ 1.png);
}
.conteiner-main{
width: 1600px;
height: 1006px;
/* background-color: gray;  */
position: relative;
top: 77px;
left: 80px;
right: 33px;
}
.conteiner-upper{
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightcoral; */
}
.logo: :hover{
    opacity: 0.8;
}
.logo{
width: 156px;
height: 48.326px;
position: relative;
left: 0px;
}
.date{
position: relative;
left:  -320px;
}
.search{
    position: relative;
    left: 300px;
}
/* .br */
.text-conteiner{
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
    position: relative;
    top: 91px;
}
.main-text{
    height: 460px;
    width: 100%;
}
.title-film{
    position: relative;
    color: #FFF;
    top: -21px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
}
.name-film{
/* width: 580px;
height: 94px; */
color: #FFF;
position: relative;
font-family: "Inter", sans-serif;
font-weight: 800;
font-style: normal;
font-size: 64px;
letter-spacing: 3.52px;
top: -43px;
left: -2px;
}
/* .information{
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    position: relative;
    top: -34px;
} */
.description{
    color: #A7A6A6;
    width: 573px;
    height: 82px;
    /* border-style: dashed;
    border-color: black; */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;  
    line-height: 141.523%; 
    position: relative;
    top:  -79px;
    
}
.star{
    /* border-style: dotted;
    border-color: black; */
    width: 1616px;
    position: relative;
    top: 155px;
    left: -821px;
    color: yellow;
}
.play{
    /* width: 306px;
    height: 64px;  */
    position: relative;
    align-self:flex-end;
    left: -1263px;
    top: 18px;
    /* font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal; 
    font-size: 22px;
    line-height: 141.523%;  */
}
.play-two{
    /* width: 306px;
    height: px;  */
    position: relative;
    align-self:flex-end;
    top: 18px;
    left: -1222px;
    font-size: 22px;
}
/* .br */
.popular-conteiner{
    width: 55%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: orange; */
    position: relative;  
    top: 175px;
    left: -361px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal; 
    line-height: 141.523%; 
}
.popular-title{
    /* width: 53%; */
    color: #FFF;
    position: relative;
    top: -110px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: normal;  
    letter-spacing: 2.97px;
    font-size: 22px;
}
.film-items{
padding: 0 4px;
    color: #C4C4C4;
    display: inline-block;
    position: relative;
    top: 15px;
    left: -298px;
}
.film{
    border: ;
    display: inline-block; 
}
.film-img{
/* width: 151px;
height: 210px;
    background-color: #EFEFEF; */
    margin: 20px 10px;
    /* border-style: dashed; */
border-color: white;
    /* border-radius: 5px; */
    
}
.film-1{
width: 151px;
height: 210px;
}
.forward{
    position: relative;
    display: inline-block;
    top: -46px;
    left: 780px;
}
.forward a:hover{
    /* background-color:red; */
    display: block;
    border-radius: 100%;
    width: 32.3px;
    height: 32.3px;
}
.forward-two{
    position: relative;
    display: inline-block;
    top: -45px;
    left: 787px;
}
.forward-two a:hover{
    /* background-color:red; */
    display: block;
    border-radius: 100%;
    width: 32.3px;
    height: 32.3px;
}
body::before{
    content: "";
    display: flex;
    justify-content:flex-end;
    align-items:center;
    background-color:#A7A6A6;
    position: absolute;
    width: 174px;
    height: 66px;
    z-index: 1;
    top: 943px;
    left: 1562px;
}
.info{
    position: relative;
    top: -65px;
}
/* .br
.br */
@media(max-width:900px){
    .bg-image{
        width: 430px;
        height:  1400px;
    }
    .logo{
        width: 156px;
        height: 48.326px;
    }
    .conteiner-main{
        width: 430px;
        position: relative;
        top: 0px;
        left: 0px;  
    }
    .logo{
        left: 12px;
        top: 16px;
        }
    .date{
        display: none;
        }
    .vector{
        display: none;
    }
    .search{
        left: 31px;
        top: 13px;
    }
    .ph-avatar{
        position: relative;
        top: 20px;
        left: -16px;
    }
    .name-film{
    position: relative;
    top: -53px;
    left: 15px;
    font-size: 70px;
    text-align: center;
    }
    .title-film{
        position: relative;
        top: 246px;
        font-size: 26px;
        left: 41px;
    }
.info{
    display: none;
}
.description{
    position: relative;
    left: 16px;
    top: 30px;
    text-align: center;
    width: 393px;
    height: 101px;
    font-size: 19px;
}
.star{
    top: 116px;
    left: -228px;
    display: flex;
    flex-direction: row;
}
.play{
    left: -485px;
    top: 159px;
}
.play-two{
    left: -439px;
    top: 159px;
}
.popular-title{
top:  -177px;
left: 288px;
font-size: 20px;
}
.popular-conteiner{
top: 387px;
}
.forward{
    top: -47px;
    left: 306px;
}
.forward-two{
    top: -46px;
    left: 318px;
}
.film-items{
    position: relative;
    top: -53px;
    left: 0;
}
.film{
    display: inline-flex;
flex-direction: column;
}
.film-img{
display: inline-flex;
flex-direction: column;
}
body::before{
display: none;
}
.red-line{
    display: none;
}
.age{
    display: none;
}
}